## Ignore VisualStudioCode
## based on https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
/frontend/node_modules

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# System Files
.DS_Store
Thumbs.db